*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
.page {
  display: flex;          
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  background-color: #1b1919;
  align-items: center;
  justify-content: center;
}

 .content {
  align-self: center;
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content__details";
  gap: 29px; 
  padding: 0 30px;
  align-items: flex-end;
}
 
.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 711px;
  height: auto;
  gap: 16px;
}

.result__video-container {
  display: block;
  inline-size: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}


.search-form {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  align-items: start;
  column-gap: 40px;
}

.search-form__fieldset { 
  display: flex;
  flex-direction: column;
  align-items: start;
  border: none;
  gap: 5px;
  width: 100%;
  padding-left: 4px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400; 
  font-size: 18px;
  line-height: 100%;
  text-align: left;
  color: #fff;

}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  height: 27px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(:active) {
  outline: none;
  border-radius: 0%;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;

}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
 }

.search-form__label-text.visually-hidden {
  display: none;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

.search-form__textfield {
  width: 217px;
  height: 27px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  appearance: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: #fff;
}

.search-form__textfield:active{
  padding-right: 1px;
  padding-left: 1px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
 
}

.search-form__pseudo-checkbox{
  width: 19px;
  height: 19px;
  border: 1px solid white;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  content: " ";
  background-color: #fff;
  width: 15px;
  height: 15px;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  outline-offset: 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  padding: 6px 73.5px;
  align-self: flex-end;
}

.content__details {
  grid-area: content__details;
  gap: 20px; 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  line-height: 94%;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: auto; 
  position: relative;
  
}

.content__list { 
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.content__list-item {
  width: 100%;
  padding: 0 3px;
  display: flex;
  align-items: end;  
}

.content__list-item:hover h2 {
  text-decoration: underline;
}

.content__list-item:hover p {
  text-decoration: underline;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  background: #1b1919;
  display: block;
  display: flex;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card { 
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   cursor: pointer;
   
}

.content__card-link:focus-visible { 
  outline: 1px solid #fff;
}

.content__video-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__video-card-description-container { 
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
}

.content__video-card-title {
  width: 196px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-decoration: none;
  color: #fff;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 0 0 1px;
}


.content__video-card-description {
  width: 194px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: rgba(255, 255, 255, 1);/*города назван маленькое*/
  white-space: nowrap;
  text-overflow: ellipsis;
}


.content__video-card-thumbnail {
  max-width: 194px;/*карточки видео*/
  min-height: 103px;
  object-fit: cover;
  object-position: center; /* Выравниваем изображение по центру Проверить!*/ 
  flex-shrink: 0;
  gap: 26px; 
}

.more-button {
  width: 390px;
  height: 34px;
  margin-top: 26px;
}





























